<p>@ViewBag.Equipo.Nombre</p>
<img src="@ViewBag.Equipo.Imagen" alt="">
<p>@ViewBag.Equipo.Descripcion</p>
<img src="@ViewBag.Equipo.imgPais" alt="">

<table class="items">
  <thead>
    <tr>
      <th id="yw0_c0">Nombre / Posición</th>
      <th class="zentriert" id="yw0_c1">Puesto</th>
      <th class="zentriert" id="yw0_c2">Club</th>
      <th class="zentriert" id="yw0_c3">
        <a class="sort-link" href="/schnellsuche/ergebnis/schnellsuche?query=raci&amp;sort=age">Edad</a>
      </th>
      <th class="zentriert" id="yw0_c4">Nac.</th>
      <th class="rechts" id="yw0_c5">
        <a class="sort-link" href="/schnellsuche/ergebnis/schnellsuche?query=raci&amp;sort=marktwert.desc">Valor de mercado</a>
      </th>
      <th class="rechts" id="yw0_c6">Agentes</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td>
        <table class="inline-table">
          <tbody>
            <tr>
              <td rowspan="2">
                <a href="#">
                  <img src="https://img.a.transfermarkt.technology/portrait/small/7983-1446727528.jpg?lm=1" title="Cani" alt="Cani" class="bilderrahmen-fixed">
                </a>
              </td>
              <td class="hauptlink">
                <a title="Cani" href="/cani/profil/spieler/7983">Cani</a>
              </td>
            </tr>
            <tr>
              <td>Retirado</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="zentriert">MCO</td>
      <td class="zentriert">
        <img src="https://tmssl.akamaized.net/images/wappen/tiny/123.png?lm=1456997286" title="Retirado" alt="Retirado" class="tiny_wappen">
      </td>
      <td class="zentriert">42</td>
      <td class="zentriert">
        <img src="https://tmssl.akamaized.net/images/flagge/verysmall/157.png?lm=1520611569" title="España" alt="España" class="flaggenrahmen">
      </td>
      <td class="rechts hauptlink">-</td>
      <td class="rechts">
        <img style="margin-right: 3px; position: relative; top: 2px" src="https://tmsi.akamaized.net/berater/verified_premium_minified.png" alt="Verificado" title="Verificado" height="13" width="13">
        <a href="/bahia-internacional/beraterfirma/berater/1033">Bahía Internacional</a>
      </td>
    </tr>
  </tbody>
</table>
